[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "api2lm"]
	path = api2lm
	url = https://github.com/jfrench/api2lm
[submodule "autoimage"]
	path = autoimage
	url = https://github.com/jfrench/autoimage
[submodule "ExceedanceTools"]
	path = ExceedanceTools
	url = https://github.com/cran/ExceedanceTools
[submodule "gear"]
	path = gear
	url = https://github.com/cran/gear
[submodule "hero"]
	path = hero
	url = https://github.com/cran/hero
[submodule "smacpod"]
	path = smacpod
	url = https://github.com/jfrench/smacpod
[submodule "smerc"]
	path = smerc
	url = https://github.com/jfrench/smerc
[submodule "SpatialTools"]
	path = SpatialTools
	url = https://github.com/jfrench/spatialtools
